[Unit]
Description=Kravhantering SQL Server
PartOf=kravhantering-single-node.target
Requires=kravhantering-single-node-database-network.service kravhantering-sqlserver-data-volume.service
After=kravhantering-single-node-database-network.service kravhantering-sqlserver-data-volume.service

[Container]
ContainerName=kravhantering-sqlserver
Image=@@SQLSERVER_IMAGE_REF@@
EnvironmentFile=/etc/kravhantering/sqlserver.env
Network=kravhantering-single-node-database.network
PodmanArgs=--network-alias=sqlserver
Volume=kravhantering-sqlserver-data.volume:/var/opt/mssql:U

[Service]
Restart=always
TimeoutStartSec=180
TimeoutStopSec=90
